/*Nav-Bar*/
.nav-bar{
    display: flex;
    position: fixed;
    background-color: #363062;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 2;
}

.nav-bar-left{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 25rem;
}

/* carrusel images*/
/* carrusel images*/
/* carrusel images*/

.images-carrusel{
    max-height: 50rem;
}

/* lateral side bar */
.checkbox-side-bar{
display: none;
}
label.side-bar-button i{
    font-size: 3em;
    color: #fff;
}
.side-bar-button{
    padding: 15px 10px 15px 15px;
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #4d4c7d;
    border-right: #363062 solid 6px;
    border-radius: 0px 1rem 1rem 0px;
    z-index: 2;
    transition: left 0.7s;
    -webkit-box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.49);
-moz-box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.49);
box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.49);

    
}

.checkbox-side-bar:checked ~ .side-bar-button{
    left: 38%;
    
}

.left-panel{
width: 38%;
height: 47rem;
top: 8.5%;
background-color: #4d4c7d;
position: fixed;
left: -38%;
transition: left 0.7s;
z-index: 2;
}

.checkbox-side-bar:checked ~ .left-panel{
left: 0;
}

/*distribution hotels*/

.container-flex{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 750px;
}
.colum-flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90%;
}

.images-article{
    max-width: 300px;
}

.title-text{
    text-align: center;
}
/* footer css */
.footer-flex{
    display: flex;
    background-color: #4d4c7d;
    width: 100%;
    justify-content: space-between;
    color: white;
}

footer a{
    color: #ffffff;
}